@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

.left-sidebar {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-sidebar > :nth-child(1) {
  flex-shrink: 1;
}

.body {
  width: 100%;
}

.scroller {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50px;
}

.scroller__page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.scroller__btn {
  height: 100%;
  width: 100%;
}

@keyframes glowing {
  0% {
  }

  75% {
    background-color: #21c7ed;
  }

  100% {
    background-color: #0091b2;
  }
}

.glowing {
  animation: glowing 1200ms infinite;
}
