.without {
    flex-grow: 1;
    align-items: center;
    font-size: 5vw;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #10a1a6;
    position: relative;
    padding: 1em;
    text-decoration: none;
    display: flex;
    align-self: center;
}

.without span {
    display: inline-block;
    white-space: pre;
}

.without .word {
    overflow: hidden;
}

.without .word .char {
    position: relative;
    animation: slide-up 1s cubic-bezier(0.75, 0, 0.25, 1) both;
    animation-delay: calc(0.1s + (0.1s * var(--word-index)));
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
}